body {
    font-family: 'Bebas Neue', cursive;
    background-color: #444444;
}


/* Labryinthe */

.mur {
    background-color: black;
}

.chemin {
    background-color: antiquewhite;
}

.player {
    background-image: url(ressources/player.png);
    width: auto;
    height: auto;
}

.start {
    background-color: green;
}

.end {
    background-color: red;
}

td {
    width: 30px;
    height: 30px;
}

.centre {
    margin-left: 43em;
    margin-top: 5em;
}


/* Boutton */

.right {
    display: flex;
    justify-content: flex-start;
    border: none;
    cursor: pointer;
    outline: none;
}

.left {
    display: flex;
    justify-content: flex-start;
    border: none;
    cursor: pointer;
    outline: none;
}

.up {
    display: flex;
    border: none;
    cursor: pointer;
    outline: none;
}

.down {
    display: flex;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: right;
}

img {
    width: 80px;
    height: 80px;
}

.btn {
    display: flex;
}


/* Afficahge du pseudo */

.user {
    font-size: x-large;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}


/* boutton rename */

.rename {
    text-align: right;
}