body {
    font-family: 'Bebas Neue', cursive;
    background-color: #444444;
}


/* Affichage labryinthe */

.mur {
    background-color: black;
}

.chemin {
    background-color: antiquewhite;
}

.player {
    background-image: url(ressources/player.png);
    width: auto;
    height: auto;
}

.start {
    background-color: green;
}

.end {
    background-color: red;
}

td {
    width: 30px;
    height: 30px;
}

.centre {
    margin-left: 43em;
    margin-top: 5em;
}


/* Boutton haut/bas/gauche/droite */

img {
    width: 80px;
    height: 80px;
}

.placement {
    margin-left: 99px;
}

.btn_up {
    font-size: x-large;
    text-align: center;
}

.btn_left {
    font-size: x-large;
    text-align: center;
}

.btn_right {
    font-size: x-large;
    text-align: center;
}

.btn_down {
    font-size: x-large;
    text-align: center;
}


/* bouton rename */

.rename {
    text-align: right;
}


/* bouton restart */

.restart {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}


/* Afficahge du pseudo */

.user {
    font-size: x-large;
    text-align: center;
}